<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop31.mapper.ProductMapper">
    <select id="queryProductList" resultType="com.shop31.pojo.Product">
        select * from shop31.products;
    </select>

    <select id="queryProductById" resultType="com.shop31.pojo.Product" parameterType="String">
        select * from shop31.products where pid = #{pid};
    </select>

    <insert id="addProd">
        insert into shop31.products (pid, catid, prodName, price, description, mainimage) VALUES (#{pid},#{catid},#{prodName},#{price},#{description},#{mainimage})
    </insert>

    <delete id="deleteProdById">
        delete from shop31.products where pid=#{pid}
    </delete>

</mapper>
